In [9]:
import numpy as np
import pandas as pd
import matplotlib as plt
import datetime

In [11]:
AU0101 = pd.read_csv('AU0101.txt', skiprows=145, sep='\s+', names=['hour', 'sza', 'jo1d', 'jno2', 'jhono', 'jhno3', 'jclno2'])
AU0101 = AU0101.drop(columns=['jo1d', 'jhono', 'jhno3', 'jclno2'])

In [12]:
jan_1 = ('01012020')
AU0101['Date'] = jan_1
AU0101.head()

   hour      sza  jno2      Date
0   0.0  147.132   0.0  01012020
1   1.0  146.273   0.0  01012020
2   2.0  142.081   0.0  01012020
3   3.0  135.593   0.0  01012020
4   4.0  127.828   0.0  01012020

In [13]:
print(AU0101.dtypes)

hour    float64
sza     float64
jno2    float64
Date     object
dtype: object

In [15]:
AU0101['hour'] = AU0101['hour'].astype(str)
# apply .map(str) to end of everything when combining columns to make sure they will combine

In [16]:
AU0101['Date'] = AU0101['Date'] + AU0101['hour']

In [17]:
AU0101 = AU0101.drop('hour', 1)

In [18]:
AU0101.head()

       sza  jno2         Date
0  147.132   0.0  010120200.0
1  146.273   0.0  010120201.0
2  142.081   0.0  010120202.0
3  135.593   0.0  010120203.0
4  127.828   0.0  010120204.0

In [26]:
AU0101['Date'].replace({".0000", ""}, inplace=True)
AU0101.head()

       sza  jno2         Date
0  147.132   0.0  010120200.0
1  146.273   0.0  010120201.0
2  142.081   0.0  010120202.0
3  135.593   0.0  010120203.0
4  127.828   0.0  010120204.0

In [23]:
AU0101['Date'] = pd.to_datetime(AU0101['Date'].astype(str), format='%d%m%Y%H')

ValueError: unconverted data remains: .0

In [130]:
AU0101.head()

       SZA  j(NO2)                Date
0  147.132     0.0 2020-01-01 00:00:00
1  146.273     0.0 2020-01-01 01:00:00
2  142.081     0.0 2020-01-01 02:00:00
3  135.593     0.0 2020-01-01 03:00:00
4  127.828     0.0 2020-01-01 04:00:00

In [234]:
AU0102 = pd.read_csv('AU0102.txt', skiprows=145, sep='\s+', names=['Time', 'SZA', 'O3', 'j(NO2)', 'HNO2', 'HNO3', 'ClNO2']).dropna()
AU0102.tail()

    Time      SZA   O3  j(NO2)  HNO2  HNO3  ClNO2
19  19.0  114.754  0.0     0.0   0.0   0.0    0.0
20  20.0  123.162  0.0     0.0   0.0   0.0    0.0
21  21.0  131.298  0.0     0.0   0.0   0.0    0.0
22  22.0  138.583  0.0     0.0   0.0   0.0    0.0
23  23.0  144.164  0.0     0.0   0.0   0.0    0.0

In [235]:
AU0102.head()

  Time      SZA   O3  j(NO2)  HNO2  HNO3  ClNO2
0  0.0  147.044  0.0     0.0   0.0   0.0    0.0
1  1.0  146.215  0.0     0.0   0.0   0.0    0.0
2  2.0  142.050  0.0     0.0   0.0   0.0    0.0
3  3.0  135.581  0.0     0.0   0.0   0.0    0.0
4  4.0  127.826  0.0     0.0   0.0   0.0    0.0

In [236]:
AU0102.drop(['O3', 'HNO2', 'HNO3', 'ClNO2'], axis=1, inplace=True)
#inplace argument modifies original data

In [237]:
# AU0102['Time'] = AU0102['Time'].astype(float)

In [238]:
# use this later AU0102['Time'] = AU0102['Time'].astype(int)

In [239]:
jan_2 = ('02012020')
AU0102['Date'] = jan_2
AU0102.head()

  Time      SZA  j(NO2)      Date
0  0.0  147.044     0.0  02012020
1  1.0  146.215     0.0  02012020
2  2.0  142.050     0.0  02012020
3  3.0  135.581     0.0  02012020
4  4.0  127.826     0.0  02012020

In [240]:
AU0102['Date'] = AU0102['Date'] + AU0102['Time']

In [241]:
AU0102 = AU0102.drop('Time', 1)

In [242]:
AU0102.head()

       SZA  j(NO2)         Date
0  147.044     0.0  020120200.0
1  146.215     0.0  020120201.0
2  142.050     0.0  020120202.0
3  135.581     0.0  020120203.0
4  127.826     0.0  020120204.0

In [243]:
AU0102['Date'] = AU0102['Date'].astype(float)

In [248]:
AU0102['Date'] = AU0102['Date'].astype(float)
AU0102.head()

       SZA  j(NO2)        Date
0  147.044     0.0  20120200.0
1  146.215     0.0  20120201.0
2  142.050     0.0  20120202.0
3  135.581     0.0  20120203.0
4  127.826     0.0  20120204.0

In [249]:
AU0102['Date'] = pd.to_datetime(AU0102['Date'].astype(str), format='%d%m%Y%H')

ValueError: unconverted data remains: .0