In [29]:
import numpy as np
import pandas as pd
import matplotlib as plt
import datetime

In [30]:
AU0101 = pd.read_csv('AU0101.txt', skiprows=145, sep='\s+', names=['hour', 'sza', 'jo1d', 'jno2', 'jhono', 'jhno3', 'jclno2'])
AU0101.head()

   hour      sza  jo1d  jno2  jhono  jhno3  jclno2
0   0.0  147.132   0.0   0.0    0.0    0.0     0.0
1   1.0  146.273   0.0   0.0    0.0    0.0     0.0
2   2.0  142.081   0.0   0.0    0.0    0.0     0.0
3   3.0  135.593   0.0   0.0    0.0    0.0     0.0
4   4.0  127.828   0.0   0.0    0.0    0.0     0.0

In [31]:
AU0101 = AU0101.drop(columns=['jo1d', 'jhono', 'jhno3', 'jclno2'])

In [32]:
jan_1 = ('01012020')
AU0101['Date'] = jan_1
AU0101.head()

   hour      sza  jno2      Date
0   0.0  147.132   0.0  01012020
1   1.0  146.273   0.0  01012020
2   2.0  142.081   0.0  01012020
3   3.0  135.593   0.0  01012020
4   4.0  127.828   0.0  01012020

In [33]:
print(AU0101.dtypes)

hour    float64
sza     float64
jno2    float64
Date     object
dtype: object

In [34]:
AU0101['hour'] = AU0101['hour'].astype(str)

In [35]:
AU0101['Date'] = AU0101['Date'] + AU0101['hour']

TypeError: can only concatenate str (not "int") to str

In [26]:
AU0101 = AU0101.drop('hour', 1)

In [27]:
AU0101.head()

       sza  jno2         Date
0  147.132   0.0  010120200.0
1  146.273   0.0  010120201.0
2  142.081   0.0  010120202.0
3  135.593   0.0  010120203.0
4  127.828   0.0  010120204.0